@{
    ViewBag.Title = "Admin Consent";
}
<h2>Admin Consent</h2>
<h3>Admin permissions are granted successfully. You can close this page and continue with @(CrossVertical.Announcement.Helper.ApplicationSettings.AppName) app. </h3>

