<html>
<body>
    <form>
        <input type="radio" name="announcement" value="history" onclick="onClick();"> History<br>
        <input type="radio" name="announcement" value="help" onclick="onClick();"> Help<br />

    </form>
    <script src="MicrosoftTeams.min.js"></script>
    <script type="text/javascript">
        microsoftTeams.initialize();
        microsoftTeams.settings.registerOnSaveHandler(function (saveEvent) {

            var radios = document.getElementsByName("announcement");
            if (radios[0].checked) {
                microsoftTeams.settings.setSettings({
                    entityId: "com.contoso.announcement.history",
                    contentUrl: "https://announcement.azurewebsites.net/history?Emailid={loginHint}",
                    suggestedDisplayName: "History",
                    websiteUrl: "https://announcement.azurewebsites.net/history?Emailid={loginHint}"

                });
            } else {
                microsoftTeams.settings.setSettings({
                    entityId: "com.contoso.announcement.help",
                    contentUrl: "https://announcement.azurewebsites.net/help",
                    suggestedDisplayName: "Public Holidays",
                    websiteUrl: "https://announcement.azurewebsites.net/help"
                });
            }
            saveEvent.notifySuccess();
        });

        function onClick() {
            microsoftTeams.settings.setValidityState(true);
        }

    </script>
</body>
</html>