@model CrossVertical.Announcement.Models.ListItemsViewModel
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .imgstyle {
            font-size: 14px;
            height: 22px;
            opacity: 0.8;
            vertical-align: bottom;
        }
        .imgstyle1 {
            font-size: 14px;
            height: 20px;
            opacity: 0.8;
            vertical-align: bottom;
            color: #6264A7;
            cursor:pointer;
            
        }

        .rect {
            height: 32px;
            width: 160px;
            color: #6264A7;
            border: 1px solid #6264A7;
            border-radius: 2px;
            background-color: white;
            box-shadow: 0 2px 4px -0.75px rgba(0,0,0,0.1);
            font-family: "Segoe UI";
            font-size: 12px;
            margin-right: 2px;
        }
    </style>
</head>
<body>
    <div class="container">
        <table rules="none" style="width:auto;height:auto;">
            @foreach (var item in Model.ListItems)
            {
            <tr style="border:2px solid white">
                <td style="padding:6px;padding-right:15px;"><img style="border-radius:50%;width:45px;height:45px" src="@item.ImageUrl" /></td>
                <td style="padding-right:115px;">@item.Title<br style="line-height:17px;" />@item.SubTitle</td>
                @if (item.EnableLikeButton)
                {
                    <td style="padding:6px;"><img src="~/Resources/Like.PNG" class="imgstyle" /></td>
                    <td style="padding:6px;"><img src="~/Resources/chat.PNG" class="imgstyle" /></td>
                }
                else if (!string.IsNullOrEmpty(item.ChatUrl) && !item.EnableLikeButton)
                {
                    <td style="padding:6px;"><img src="~/Resources/chat.PNG" class="imgstyle" /></td>
                }
                else if (!string.IsNullOrEmpty(item.DeepLinkUrl) && string.IsNullOrEmpty(item.ChatUrl) && !item.EnableLikeButton)
                {
                    <td>
                        <button class="rect">
                            View Conversation
                        </button>
                    </td>
                }
            </tr>
            }
        </table>
    </div>
</body>
</html>